.best {
	background-image: url("../../img/bg/best.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.best__container {
	height: 100%;

	/*@include tablets {
		justify-content: flex-start;
	}*/
}

.best__title {
	color: #2f3234;
	padding: 0;
	margin-bottom: rem(60px);

	/*@include tablets {
		margin-bottom: 22%;
		margin-top: 15%;
	}*/
}

.best__content {
	display: flex;
}

.best__list {
	display: flex;

	@include phones {
		flex-direction: column;
		padding-left: rem(15px);
	}
}

.best__item {
	max-width: rem(285px);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: rem(35px);
	&:last-child {
		margin-right: 0;
	}

	@include phones {
		max-width: 100%;
		flex-direction: row;
		margin-right: 0;
		margin-bottom: rem(50px);

	}
}

.best__img {
	
	margin-bottom: rem(30px);

	@include phones {
		width: rem(100px);
		height: rem(100px);
		margin-right: rem(30px);
		
	}
}

.best__img-pic {
	width: 100%;
	height: rem(87px);
	svg {
  		max-width: 95%;
  	}
}

.best__description {
	span {
		font-family: 'Lifehack';
		font-size: rem(24px);
		font-weight: normal;
		line-height: 1;
		text-align: center;
		display: flex;
		justify-content: center;

		@include phones {
			text-align: left;
			justify-content: flex-start;
		}
	}

	p {
		color: #8d8b89;
		font-size: rem(14px);
		font-weight: 300;
		text-align: center;
		line-height: rem(24px);

		@include phones {
			text-align: left;
		}
	}

	@include phones {
		width: 80%;
	}
}