.team {
	background-image: url("../../img/bg/team.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.team-acco {
	padding-top: rem(60px);

	@include tablets {
		padding-top: rem(105px);
	}
}

.team-acco__item {
	margin-bottom: rem(15px);
	
	@include tablets {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

.team__container {
	width: 50%;
	height: 100%;
	background-color: rgba(#2f3234 , .9);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	padding-top: rem(50px);
	padding-left: rem(80px);
	padding-right: rem(20px);

	@include tablets {
		width: 100%;
		padding: 14% 29%;
		align-items: center;
	}

	@include phones {
		padding: 10% 18%;
	}
}

.team-acco__trigger {
	@include gagalin();
	font-size: rem(14px);
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: .3s;
	
	&:before {
		content: "";
		height: 0;
		width: 0;
		border: rem(5px) solid transparent;
		border-top-color: $yellow;
		border-bottom-width: 0;
		margin-right: rem(8px);
	}

	&:hover {
		color: $yellow;
	}

	@include tablets {
		font-size: rem(24px);
	}
}

.team-acco__content {
	/*display: none;*/
	padding-top: rem(15px);
	height: 0;
	overflow: hidden;
	display: flex;

	@include tablets {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.team-acco__foto {
	background-position: center center;
	width: rem(100px);
	height: rem(100px);
	border-radius: rem(50px);
	overflow: hidden;
	flex-shrink: 0;
	margin-left: rem(15px);

	@include tablets {
		margin-left: 0;
		margin-bottom: rem(15px);
	}

}

.team-acco__text {
	color: #fff;
	padding-left: rem(22px);
	font-size: rem(14px);

	span {
		@include ubuntu(bold);

		@include tablets {
			font-size: rem(15px);
		}
	}

	p {
		@include ubuntu(light);
	}

	@include tablets {
		padding-left: 0;
	}
}

.team-acco__item_active {
	.team-acco__trigger {
		color: $yellow;

		&:before {
			transform: rotate(-180deg);
		}
	}

	.team-acco__content {
		/*display: flex;*/
		height: rem(140px);

		@include tablets {
			height: rem(220px);
		}
	}

	&:after {
		margin-bottom: 0; //не работает???
	}
}

/*
.section__team_title {
	padding: 0;
	
}

.team-acco {
	color: white;
}

.team-acco__item {
	&:target .team-acco__content {
		height: 200px;
	}
}

.team-acco__item a {
	text-decoration: none;
	font-family: 'Gagalin';
	font-weight: normal;
	font-size: rem(14px);
	color: white;
	&:hover {
		color: $yellow;
	}
}

.team-acco__content {
	display: flex;
	height: 200px;
	overflow: hidden;
}

.team-acco__foto {
	width: rem(100px);
	height: rem(100px);
	background-image: url("../../img/content/team/partner.jpg");
	background-position: center;
	border-radius: 50%;
}*/